In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
plt.style.use('ggplot')
sns.set_style('darkgrid')

In [15]:
df = pd.read_excel('data/Kenyas_Agricultural_Production.xlsx')
print(df.shape)
display(df.tail(2))

(18182, 14)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
18180,QCL,Crops and livestock products,404,Kenya,5510,Production,1540,Yams,2020,2020,tonnes,8009.16,A,Official figure
18181,QCL,Crops and livestock products,404,Kenya,5510,Production,1540,Yams,2021,2021,tonnes,7669.00,A,Official figure

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18182 entries, 0 to 18181
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       18182 non-null  object
 1   Domain            18182 non-null  object
 2   Area Code (M49)   18182 non-null  int64
 3   Area              18182 non-null  object
 4   Element Code      18182 non-null  int64
 5   Element           18182 non-null  object
 6   Item Code (CPC)   18182 non-null  object
 7   Item              18182 non-null  object
 8   Year Code         18182 non-null  int64
 9   Year              18182 non-null  int64
 10  Unit              18182 non-null  object
 11  Value             18182 non-null  float64
 12  Flag              18182 non-null  object
 13  Flag Description  18182 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 1.9+ MB

In [17]:
df.duplicated().sum()

0

In [18]:
df.rename(columns={'Item Code (CPC)': 'Item_code_cpc', 
                   'Area Code (M49)': 'Area_code_m49',
                   'Domain Code': 'Domain_code',
                   'Element Code': 'Element_code',
                   'Flag Description': 'Flag_description'},
                   inplace=True)

In [19]:
df['Area'].dtype

dtype('O')

In [20]:
#  change data types to correct types
for col in df.columns:
    if df[col].dtype == 'O':
        df[col] = df[col].astype('category')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18182 entries, 0 to 18181
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain_code       18182 non-null  category
 1   Domain            18182 non-null  category
 2   Area_code_m49     18182 non-null  int64
 3   Area              18182 non-null  category
 4   Element_code      18182 non-null  int64
 5   Element           18182 non-null  category
 6   Item_code_cpc     18182 non-null  category
 7   Item              18182 non-null  category
 8   Year Code         18182 non-null  int64
 9   Year              18182 non-null  int64
 10  Unit              18182 non-null  category
 11  Value             18182 non-null  float64
 12  Flag              18182 non-null  category
 13  Flag_description  18182 non-null  category
dtypes: category(9), float64(1), int64(4)
memory usage: 917.7 KB

In [24]:
for col in df.columns:
    if df[col].dtype == 'category':
        print(f"{col} has {df[col].nunique()} unique values")

Domain_code has 1 unique values
Domain has 1 unique values
Area has 1 unique values
Element has 9 unique values
Item_code_cpc has 150 unique values
Item has 150 unique values
Unit has 12 unique values
Flag has 5 unique values
Flag_description has 5 unique values

In [29]:
for col in ['Domain_code', 'Domain', 'Area']:
    print(f"{col}: {df[col].unique()}")

Domain_code: ['QCL']
Categories (1, object): ['QCL']
Domain: ['Crops and livestock products']
Categories (1, object): ['Crops and livestock products']
Area: ['Kenya']
Categories (1, object): ['Kenya']

In [30]:
df['Area_code_m49'].unique()

array([404])

In [32]:
df.drop(['Year Code', 'Domain_code', 'Domain', 'Area', 'Area_code_m49'], axis=1, inplace=True)

In [33]:
df.describe()

       Element_code          Year         Value
count  18182.000000  18182.000000  1.818200e+04
mean    5413.666538   1994.152513  3.257563e+05
std       96.653696     17.136119  1.501639e+06
min     5111.000000   1961.000000  0.000000e+00
25%     5312.000000   1980.000000  2.100000e+03
50%     5419.000000   1996.000000  1.300000e+04
75%     5510.000000   2009.000000  8.505925e+04
max     5513.000000   2021.000000  3.602118e+07

In [34]:
#  Write metadata to xml file
with open('data/metadata.xml', 'w') as f:
    #  title and description
    f.write('<metadata>\n')
    f.write('\t<title>Kenyas Crops and Livestock Production</title>\n')
    f.write('\t<description>150 crops and livestock products data dating 1961 - 2021.</description>\n')
    #  closing tag
    f.write('</metadata>')
    # close file
    f.close()

#  Write data to csv file
df.to_csv('data/Kenyas_Agricultural_Production.csv', index=False)